header a {
    display: inline-block;
    margin-left: 3%;
    margin-top: 1%;
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;
    gap: 20px;
}

header a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #AA9785FF;
    transition: width 0.3s ease;
}

header a:hover::after {
    left: 0;
    right: auto;
    width: 100%;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url(../image/frame_0_sus.png), auto;
    -webkit-animation: cursor 250ms infinite;
    animation: cursor 250ms infinite;
}

@-webkit-keyframes cursor {
    0% {cursor: url(../image/frame_0_sus.png), auto;}
    100% {cursor: url(../image/frame_1_sus.png), auto;}
}

@keyframes cursor {
    0% {cursor: url(../image/frame_0_sus.png), auto;}
    100% {cursor: url(../image/frame_1_sus.png), auto;}
}

body {
    background: #333;
    font-family: "Kanit", sans-serif;
    height: 100vh;
    background: url('../image/foretlumdown.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.container-first {
    position: absolute;
    top: 30%;
    left: 5%;
}

h1 {
    text-transform: uppercase;
    font-size: 110px;
    color: #f1f1f1;
    font-family: "Kanit", sans-serif;
}
h1 span {
    position: relative;
}

.lignes {
    position: absolute;
    top: 7%;
    left: 3%;
}
.l1 {
    width: 250px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
}
.l2 {
    width: 140px;
    height: 3px;
    background: #f1f1f1;
    border-radius: 5px;
    position: relative;
    top: 20px;
}

.logo {
    position: absolute;
    right: 2.9%;
    top: 4%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.logo-medias {
    width: 40px;
    height: 40px;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  margin-top: 35%;
  padding-bottom: 5%;
  gap: 10px;
}

.container > div {
  flex: 0 0 120px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 5px 15px #1e0e3e;
  position: relative;
  overflow: hidden;

  &:nth-of-type(1) {
    background: url("../image/malo/Malo.jpg") no-repeat center / cover;
  }
  &:nth-of-type(2) {
    background: url("../image/IDRI Nahel -2.jpg") no-repeat center / cover;
  }
  &:nth-of-type(3) {
    background: url("../image/CHUNNE-DAMIDOT Matthias -1.jpg") no-repeat center / cover;
  }
  &:nth-of-type(4) {
    background: url("../image/ugo/ANGLES-DESRUMAUX Ugo -2.jpg") no-repeat center / cover;
  }
  &:nth-of-type(5) {
    background: url("../image/alexis.jpg") no-repeat center / cover;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
  }

  .content {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: rgb(2, 2, 46);
    background: linear-gradient(
      0deg,
      rgba(2, 2, 46, 0.675) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: translateY(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    visibility: hidden;
  }

  .content span {
    display: block;
    margin-top: 5px;
    font-size: 1.2rem;
  }

  &:hover {
    flex: 0 0 250px;
    box-shadow: 1px 3px 15px #7645d8;
    transform: translateY(-30px);
  }

  &:hover .content {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}

