@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
    cursor: url(../image/frame_0_sus.png), auto;
    -webkit-animation: cursor 250ms infinite;
    animation: cursor 250ms infinite;
}

@-webkit-keyframes cursor {
    0% {cursor: url(../image/frame_0_sus.png), auto;}
    100% {cursor: url(../image/frame_1_sus.png), auto;}
}

@keyframes cursor {
    0% {cursor: url(../image/frame_0_sus.png), auto;}
    100% {cursor: url(../image/frame_1_sus.png), auto;}
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../image/foretlumdown.jpg");
}

.enveloppe h1{
    color: white;
}

.enveloppe{
    width: 420px;
    
}

.enveloppe .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
}

.input-box input::placeholder{
    color: black;
}

.input-box i{
    position: absolute;
    right: 20px;
    top:50%;
    transform: tr ;
}

.enveloppe .se-souvenir-de-moi {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px ;
    color: white;
    margin: -15px 0 15px;
    
}

.enveloppe .lien-inscription{
    color: white;
}

.enveloppe .se-souvenir-de-moi a {
    color: white;
    
}

.enveloppe .lien-inscription  a{
        color: white;
}