body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    color: #d8d8d8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

* {
    cursor: url(../image/frame_0_sus.png), auto;
    -webkit-animation: cursor 250ms infinite;
    animation: cursor 250ms infinite;
}

@-webkit-keyframes cursor {
    0% {cursor: url(../image/frame_0_sus.png), auto;}
    100% {cursor: url(../image/frame_1_sus.png), auto;}
}

@keyframes cursor {
    0% {cursor: url(../image/frame_0_sus.png), auto;}
    100% {cursor: url(../image/frame_1_sus.png), auto;}
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    background-color: rgba(170, 151, 133, 0.3);
    padding: 10px 0;
    text-align: center;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
}

header nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 18px;
    position: relative;
    padding-bottom: 5px;
}

header nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

main {
    margin-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre header */
    padding: 20px; /* Optional: to add some padding */
}

h1 {
    font-family: Kanit, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(249, 228, 228);
    letter-spacing: 2px;
    line-height: 40px;
    text-align: center;
}
.typed {
    font-family: 'wf_f6086231d01640cb8d1a53eea', Kanit, sans-serif;
    color: rgb(255, 240, 204);
    font-weight: bold;
    font-size: 37.5px;
    letter-spacing: 1px;
}
.typed-cursor {
    font-family: Kanit, sans-serif;
    font-size: 37.5px;
    color: rgb(255, 240, 204);
    display: inline-block;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
h2 {
    font-size: 30px;
    color: rgb(255, 240, 204);
    margin-top: 20px;
}

.presentation-container {
    display: flex;
    align-items: flex-start;
    color: #f3f6f4;
    margin-top: 20px;
}

.presentation-text {
    margin-left: 20px;
    background: rgba(0, 0, 0, 0.27); /* Fond flou */
    padding: 10px;
    border-radius: 10px;
    color: #fff; /* Couleur du texte */
}
.presentation-container {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.text-container {
    margin-left: 20px;
    max-width: 500px; /* Limite la largeur du texte */
    background: rgba(0, 0, 0, 0.7); /* Fond flou pour améliorer la lisibilité */
    padding: 20px;
    border-radius: 10px;
    color: #fff; /* Couleur du texte */
}

.responsive {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

section {
    padding: 50px 0;
}
.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
}
.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}
.carousel > input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 5px rgba(18, 58, 11, 0.7);
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 5px rgba(18, 58, 11, 0.7);
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 5px rgba(18, 58, 11, 0.7);
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 5px rgba(18, 58, 11, 0.7);
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0px 0px 0px 5px rgba(18, 58, 11, 0.7);
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 5px rgba(18, 58, 11, 0.7);
}
.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}
.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
}
.carousel__slide figure {
    display: flex;
    margin: 0;
}
.carousel__slide div {
    position: relative;
    width: 100%;
}
.carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
}
.carousel__slide div > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}
.carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
}
.carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}
.carousel__slide.scrollable {
    overflow-y: scroll;
}
.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
    margin-top: 20px;
}
.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
    display: block;
    position: relative;
}
.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}
.carousel__thumbnails label > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
    cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
